@import "tailwindcss";
@import "./variables.css";

body {
  background: linear-gradient(
    to bottom,
    var(--gradient-dark),
    var(--gradient-light)
  );
  background-size: cover;
  background-attachment: fixed;
  transition: background 0.3s ease;
  color: var(--color-light);
  border-color: var(--color-border);
}
